*{
    /*outline: 1px solid red;*/
    color: white;
}


body{
    background-color: rgb(36, 36, 36);
    display:flex;
    flex-direction:row;
    margin: 0px;
    min-height: 100vh;
}

p{
    font-weight: bold;
    font-size: 16pt;
    margin: 10px;
    color: white;
}

img{
    max-width: 50vh;
    min-height: 100vh;
    object-fit: cover;
}

.left-side{
    position: relative;
    text-align: center;
    flex-grow: 1
}

.upper-text-block{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}

.lower-text-block{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    white-space: nowrap;
}

.right-side{
    display: flex;
    flex-grow:auto;
}

#middle-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(45, 45, 45);
    padding: 0px;
    filter: drop-shadow(2px 2px 2px #ababab);
    width: min(150vh,100%);
    margin-top: 50px;
    margin-bottom: 20px;
}

form{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    text-transform: uppercase;
    font-size: 11pt;
}

input{
    box-shadow: none;  
    border-color: #ababab;
    background-color:transparent;
    border: rgb(167, 75, 9) 2px solid;
}

input:focus{
    outline: none;
    background:#414141;

}

input:hover{
    background:#414141;
}

input:invalid{
    border: rgb(167, 75, 9) 2px solid;
}

input:required:valid{
    border:green 2px solid;
}

body>div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

li{
    list-style-type: none;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
    min-width: 30%;
    margin: 10px;
    margin-left: -40px;
}

label,input{
    display:flex;
    flex-direction: column;
}

#bottom-section{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 10px;
}

button{
    border: none;
    color: black;
    filter: drop-shadow(2px 2px 2px #ababab);
    margin-bottom: 10px;
    max-width: 50%
}

button:hover{
    background-color: rgb(167, 75, 9);
    color: white;
}

span {
    text-decoration: underline;
}